@model IEnumerable<TravelExpertsWebApplication.Models.Package>

@{
    // Author: James Francis, Ryan Bonnell, Robbie Nielsen
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="jumbotron">
        <h1 id="jumbo">Welcome To Travel Experts</h1>
        <h2 id="jumbo">Find this season's hottest deals below...</h2>
    </div>
</div>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">
        @ViewBag.CreditMessage
    </div>
    <!-- Success fireworks! Robbie  -->
    <div class="pyro">
        <div class="before"></div>
        <div class="after"></div>
    </div>
}

<hr />
@if (Session["Debug"] != null)
{
    <p>@Session["Debug"].ToString()</p>
}
else
{
    <table class="table-striped table-hover table-responsive" cellpadding="2" cellspacing="2">
        <!-- James/Ryan/Robbie -->
        <tr>
            <th></th> <!-- Empty header for images -->
            <th class="text-center">@Html.DisplayNameFor(model => model.PkgName)</th>
            <th class="text-center">@Html.DisplayNameFor(model => model.PkgStartDate)</th>
            <th class="text-center">@Html.DisplayNameFor(model => model.PkgEndDate)</th>
            <th class="text-center">@Html.DisplayNameFor(model => model.PkgDesc)</th>
            <th class="text-center">@Html.DisplayNameFor(model => model.PkgBasePrice)</th>
            <th></th> <!-- Empty header for "Purchase" link -->
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td class="picture-padding">
                    <img src="~/Content/Images/@Url.Content(item.PkgImage)" width="100" />
                </td>
                <td>@Html.DisplayFor(modelItem => item.PkgName)</td>
                <td>@Html.DisplayFor(modelItem => item.PkgStartDate)</td>
                <td>@Html.DisplayFor(modelItem => item.PkgEndDate)</td>
                <td>@Html.DisplayFor(modelItem => item.PkgDesc)</td>
                <td>@Html.DisplayFor(modelItem => item.PkgBasePrice)</td>
                <td>
                    @Html.ActionLink("Purchase", "Purchase", "Dashboard", new { id = item.PackageId }, null)
                </td>
            </tr>
        }
    </table>
}